@import '../../globals.scss';

.input-wrapper {
  display: grid;
  gap: 0.25rem;
  font-weight: 700;

  input[type='text'] {
    font-weight: inherit;
    border: none;
    background: $primary-color;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;

    &:focus-visible {
      outline: transparent;
      filter: brightness(110%);
    }
  }
}
